@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
.description-input{
    color:red;
}

.desc{
    max-width: 400px;
}
.tebel-banget{
    font-weight: 900;
}
.tebel-sedang{
    font-weight: bold;
}
.button{
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}
.button:hover{
    background-color: grey;
    color: white;
}

.imagecover{
    display: none;
}
.img{
    width: 700px;
    z-index: -1;
}

.gel-1{
    width: max-content;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
}
#descbg{
    background-image: url("./images/blob-scene-haikei.svg");
}
.type:hover{
    border-style: groove;
    border-color: black;
}

.judul:hover{
        text-shadow:1px 1px 2px #edf6e5;
}
.judul2:hover{
    text-shadow:1px 1px 2px deepskyblue;
}
.tab:hover{
    border-style: groove;
    border-color: black;
    letter-spacing: 1px;
}
.tab2:hover{
    border-style: groove;
    border-color: black;
}



  
/*mengatur responsive home*/
@media screen and (max-width: 800px){
    .img{
        display: none;
        width: 500px;
    }

    .imagecover{
        display:block;
    }
    .cap{
        font-size: small;
    }
}
@media screen and (max-width: 1199px){
    .img{
        width: 500px;
        z-index: -1;
    }
    .cap{
        font-size: small;
    }
}
@media screen and (max-width: 992px){
    .img{
        width: 300px;
        z-index: -3;
    }
    .tebel-banget{
        font-weight: 700;
    }
    .cap{
        font-size: small;
    }
}
