{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row mb-2">
    <div class="col-md-6">
      <h2>Check</h2>
      <div id="" class="form-text fw-lighter">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore!
      </div>
      <form class="mt-2 mb-2" action="/check/" method="post">
        <div class="mb-3">
          <label for="Pregnancies" class="form-label fs-5"
            >Pregnancies (Kehamilan)</label
          >
          <div class="description-input" class="form-text">
            isikan dengan angka 0 jika anda seorang laki-laki
          </div>
          <input
            type="number"
            class="form-control"
            id="Pregnancies"
            name="Pregnancies"
            required
            \
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="Glucose" class="form-label fs-5">Glucose</label>
            <div class="description-input" class="form-text">
              Kadar gula darah anda dalam tubuh
            </div>
            <input
              type="number"
              class="form-control"
              id="Glucose"
              name="Glucose"
              required
              \
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="BloodPressure" class="form-label fs-5"
              >BloodPressure
            </label>
            <div class="description-input" class="form-text">
              tekanan darah diastolik (mm Hg)
            </div>
            <input
              type="number"
              class="form-control"
              id="BloodPressure"
              name="BloodPressure"
              required
              \
            />
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="SkinThickness" class="form-label fs-5"
              >SkinThickness</label
            >
            <div class="description-input" class="form-text">
              ketebalan kulit bagian trisep (mm)
            </div>
            <input
              type="number"
              class="form-control"
              id="SkinThickness"
              name="SkinThickness"
              required
              \
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="Insulin" class="form-label fs-5">Insulin</label>
            <div class="description-input" class="form-text">
              tingkat dalam satuan mu U/ml
            </div>
            <input
              type="number"
              class="form-control"
              id="Insulin"
              name="Insulin"
              required
              \
            />
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="BMI" class="form-label fs-5">BMI</label>
            <div class="description-input" class="form-text">
              indeks massa tubuh (kg/m^2)
            </div>
            <input
              type="number"
              class="form-control"
              id="Age"
              name="Age"
              required
              \
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="Age" class="form-label fs-5">Age</label>
            <div class="description-input" class="form-text">Umur</div>
            <input
              type="number"
              class="form-control"
              id="BMI"
              name="BMI"
              required
              \
            />
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Check</button>
      </form>
    </div>
    <div class="col-md-4">
      <img
        src="{{url_for('static', filename='images/undraw_doctors_hwty.svg')}}"
        class="img-doctor mt-5"
      />
    </div>
  </div>

  {% endblock %}
</div>
